* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.spinner-item .spinneritem-title{
  opacity: 0;
  transition: all 0.7s;
}

.spinner-item.active .spinneritem-img {
  filter: drop-shadow(0px -3px 10px rgba(35, 207, 212, 0.8));
}

.spinner-item.active .spinneritem-title{
  opacity: 1;
}

.spinner-btn{
  transition: all 0.5s;
}

.spinner-btn:hover{
  background-color: rgba(255,255,255, 0.3) !important;
  color: rgb(80, 218, 218) !important;
}

.spinner-btn:active{
  background-color: rgba(255,255,255, 0.7) !important;
}
